---
import Layout from '../layouts/BaseLayout.astro';
import SiteMeta from '../components/SiteMeta.astro';

const pageTitle = "404 | Austin Poor";
---
<Layout pageTitle={pageTitle}>
	<!-- Head Tags -->
	<SiteMeta 
		slot="head"
		title={pageTitle}
	/>

	<!-- Body Tags -->
    <div class="max-w-2xl mx-auto mb-12 text-neutral-900 dark:text-neutral-100 space-y-4">
        <h1 class="text-4xl sm:text-6xl font-bold text-center mb-4">
            404: Page Not Found
        </h1>
        
        <p class="text-base text-center">
            Sorry, the page you're looking for doesn't exist.
        </p>
        
        <p class="text-base text-center">
            ¯\_(ツ)_/¯
        </p>

        <div class="py-4">
            <a 
                class="
                    flex
                    w-fit
                    mx-auto
                    justify-between 
                    items-center 
                    space-x-3 
                    rounded-full 
                    px-4 
                    py-2
                    bg-gradient-to-r 
                    from-indigo-500 
                    via-purple-500 
                    to-pink-500
                    text-neutral-50
                    shadow-md
                    shadow-purple-500/50
                    hover:shadow-lg
                    hover:shadow-purple-500/50
                " 
                href="/"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                </svg>
                <span class="tracking-tight font-semibold">
                    Go back to the homepage...
                </span>
            </a>
        </div>
    </div>
</Layout>

<style>
    p a {
        @apply underline decoration-dotted;
    }
</style>
