---
import Layout from '@/layouts/BaseLayout.astro';
import SiteMeta from '@/components/SiteMeta.astro';

const pageTitle = "About Me | Austin Poor";
const pageDescription = "Hi, my name is Austin and I'm a full-stack developer living in Los Angeles, CA. You can learn more about me and my work experience here.";
---
<Layout activeTab="about" pageTitle={pageTitle} pageDescription={pageDescription}>
	<!-- Head Tags -->
	<SiteMeta 
		slot="head"
		title={pageTitle} 
		url="https://austinpoor.com/about"
		description={pageDescription}
	/>
    <link rel="canonical" href="https://austinpoor.com/about" slot="head"/>

	<!-- Body Tags -->
    <div class="max-w-2xl mx-auto mb-12">
        <h1 class="text-4xl sm:text-6xl font-bold text-center mb-4">
            About Me
        </h1>
        <p class="text-base text-center">
            I'm a Data Scientist living in Johar town, Lahore.
        </p>
        <p class="text-base text-center">
            I like working in Data Science, Machine Learning, Predictive Modeling, Python, Data Visualization.
        </p>
    </div>

    <div class="container mx-auto">

        <!-- Background -->
        <section id="background" class=" px-2 max-w-3xl mx-auto mb-8">
            <a href="#background" class="flex text-2xl font-semibold items-center space-x-2 mb-4 group">
                <h2>Background</h2>
                <svg class="w-5 h-5 invisible group-hover:visible" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                </svg>                      
                <hr class="flex-grow mt-1" />
            </a>
            <div class="space-y-4">
                <p>
                    I'm a Data Scientist living in Johar town, Lahore. 
                    As a passionate and results-driven Data Analyst, I specialize in transforming complex data into actionable insights that drive business success.  </p>
                <p>
                    My expertise spans a comprehensive range of analytical tools and technologies, including Power BI,Tableau, SQL, Excel, and Python, equipping me to tackle diverse challenges across data analysis, management, and visualization.                </p>
                <p>
                    With a strong foundation in Machine Learning (ML) and Deep Learning (DL), I excel in building and deploying predictive models that provide valuable insights and contribute to informed decision-making. My hands-on experience allows me to apply cutting-edge techniques to solve real-world problems effectively.                </p>
                <p>
                    Driven by curiosity and a commitment to continuous learning, I am dedicated to leveraging data to drive business decisions and enhance performance. Let's connect and explore how data can unlock new opportunities for your business!
                </p>
                <p>
                    Currently, I'm learning more about data engineering and data science, and I'm interested in working with data at a larger scale.
                </p>
            </div>
        </section>

        <!-- Work Experience -->
        <section id="work-experience" class="px-2 max-w-3xl mx-auto mb-8">
            <div class="flex items-center space-x-2 mb-4 group">
                <a href="#work-experience" class="flex text-2xl font-semibold items-center space-x-2">
                    <h2>Work Experience</h2>
                    <svg class="w-5 h-5 invisible group-hover:visible" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                    </svg>                      
                </a>
                <hr class="flex-grow" />
            </div>

            <div class="mb-2">
                <h3 class="text-lg font-semibold mb-1">
                    Full Stack Developer @ Command Credit Corp
                </h3>
                <p class="text-sm uppercase mb-2 font-semibold flex">
                    <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>
                    <span>
                        April 2021 - Present
                    </span>
                </p>
                <p class="text-sm uppercase mb-2 font-semibold flex">
                    <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                    <span>
                        Remote
                    </span>                     
                </p>
                <ul class="list-disc list-inside space-y-1 text-base tracking-tight">
                    <li>
                        Inherited full-stack support and development responsibilities for two web commerce systems with API interfaces to major credit bureaus in my third month of tenure.
                    </li>
                    <li>
                        Designed and implemented an internal API to standardize and simplify software architecture across two systems built by multiple teams.
                    </li>
                    <li>
                        Proposed and designed an AWS-based standard architecture replatforming strategy to save the firm money and reduce operational risks.
                    </li>
                </ul>
                <hr class="mx-2 my-2 border-dotted" />
            </div>
            
            <div class="mb-2">
                <h3 class="text-lg font-semibold mb-1">
                    Data Analyst @ Freelance
                </h3>
                <p class="text-sm uppercase mb-2 font-semibold flex">
                    <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>
                    <span>
                        March 2020 - April 2021
                    </span>
                </p>
                <p class="text-sm uppercase mb-2 font-semibold flex">
                    <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                    <span>
                        Remote
                    </span>                     
                </p>
                <ul class="list-disc list-inside space-y-1 text-base tracking-tight">
                    <li>
                        Identified, collected, merged, normalized, and presented longitudinal US census and population health data on murders, suicides, and overdose deaths to inform City University of New York's professor's research on population health trends in coastal South Carolina.
                    </li>
                    <li>
                        Developed a web scraper to gather, consolidate, normalize, and present City of Canton, OH housing code violations and low-interest loan application site data into Excel reports to inform City's Low-Interest Loan Community Redevelopment investment targeting.
                    </li>
                    <li>
                        Healthcare provider profiles and market share data acquisition, consolidation, and analysis model for NTT Data Systems healthcare industry vertical.
                    </li>
                </ul>
                <hr class="mx-2 my-2 border-dotted" />
            </div>

            <div class="my-4 text-center">
                <a href="#education" class="italic underline decoration-dotted">
                    {"{{ Full-Time Student at Sarah Lawrence College – See Below }}"}
                </a>
            </div>
            <hr class="mx-2 my-2 border-dotted" />

            <div class="mb-2">
                <h3 class="text-lg font-semibold mb-1">
                    Assistant to the Executive Creative Director @ CHRLX
                </h3>
                <p class="text-sm uppercase mb-2 font-semibold flex">
                    <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>
                    <span>
                        October 2014 - July 2017
                    </span>
                </p>
                <p class="text-sm uppercase mb-2 font-semibold flex">
                    <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                    <span>
                        New York, NY
                    </span>                     
                </p>
                <ul class="list-disc list-inside space-y-1 text-base tracking-tight">
                    <li>
                        Managed the Exec. Creative Director's schedule, tasks, and priorities with internal team members, freelancers, and clients.
                    </li>
                    <li>
                        Coordinated across multiple teams of staff, contractors, and clients in a fast-paced, deadline-oriented creative environment.
                    </li>
                    <li>
                        Served as an on-site project coordinator to coordinate with producers and technical staff regarding client project deliveries and issue resolution.
                    </li>
                </ul>
            </div>
        </section>

        <!-- Certifications -->
        <section id="certifications" class="px-2 max-w-3xl mx-auto mb-8">
            <a href="#certifications" class="flex text-2xl font-semibold items-center space-x-2 mb-4 group">
                <h2>Certifications</h2>
                <svg class="w-5 h-5 invisible group-hover:visible" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                </svg>                      
                <hr class="flex-grow mt-1" />
            </a>
            
            <ul class="list-none space-y-1 text-base tracking-tight">
                <li>
                    <a class="font-semibold" href="https://www.youracclaim.com/badges/7b719925-2f06-47f3-9ef6-0aab7b03d645/public_url">
                        <span class="text-neutral-500 mr-1">
                            [January 2021]
                        </span>
                        <span>
                            AWS Certified Cloud Practitioner
                        </span>
                    </a>
                </li>
            </ul>
        </section>

        <!-- Education -->
        <section id="education" class="px-2 max-w-3xl mx-auto mb-8">
            <a href="#education" class="flex text-2xl font-semibold items-center space-x-2 mb-4 group">
                <h2>Education</h2>
                <svg class="w-5 h-5 invisible group-hover:visible" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                </svg>                      
                <hr class="flex-grow mt-1" />
            </a>
            
            <div class="mb-2">
                <h3 class="text-lg font-semibold mb-1">
                    BA in Computer Science from Sarah Lawrence College
                </h3>
                <p class="text-sm uppercase mb-2 font-semibold flex">
                    <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>
                    <span>
                        December 2019
                    </span>
                </p>
                <p class="text-sm uppercase mb-2 font-semibold flex">
                    <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                    <span>
                        Bronxville, NY
                    </span>                     
                </p>
                <p>
                    Select courses:    
                </p>
                <ul class="list-disc list-inside space-y-1 text-base tracking-tight">
                    <li>Bio-Inspired Artificial Intelligence</li>
                    <li>Databases</li>
                    <li>Computer Architecture</li>
                    <li>Quantum Computing</li>
                </ul>
            </div>
        </section>

        <!-- Skills -->
        <section id="skills" class="px-2 max-w-3xl mx-auto mb-8">
            <a href="#skills" class="flex text-2xl font-semibold items-center space-x-2 mb-4 group">
                <h2>Skills</h2>
                <svg class="w-5 h-5 invisible group-hover:visible" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                </svg>                      
                <hr class="flex-grow mt-1" />
            </a>
            
            <ul class="list-disc list-inside space-y-1 text-base tracking-tight">
                <li>Go</li>
                <li>Python</li>
                <li>JavaScript/TypeScript</li>
                <li>SQL</li>
                <li>Docker</li>
                <li>AWS</li>
                <li>GCP</li>
                <li>REST APIs</li>
                <li>gRPC APIs</li>
                <li>React</li>
                <li>Svelte</li>
                <li>PostgreSQL</li>
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>TensorFlow</li>
            </ul>
        </section>

        
    </div>
</Layout>

<style>
    p a {
        @apply underline decoration-dotted;
    }
</style>
