---
import Layout from '@/layouts/BaseLayout.astro';
import SiteMeta from '@/components/SiteMeta.astro';
import LinkIcon from '@/components/LinkIcon.astro';

const pageTitle = "Austin Poor's Personal Website";
const pageDescription = "Austin Poor personal website. Hi, I'm Austin and I'm a full-stack developer living in Los Angeles, CA. Thanks for visiting!";

---
<Layout activeTab="home" pageTitle={pageTitle} pageDescription={pageDescription}>
	<!-- Head Tags -->
	<SiteMeta 
		slot="head"
		title={pageTitle} 
		url="https://austinpoor.com/"
		description={pageDescription}
	/>
	<link rel="canonical" href="https://austinpoor.com" slot="head"/>

	<section class="hero max-w-7xl mx-auto px-2 pt-20 pb-24 lg:pt-32 lg:pb-36">
		<h1 id="big-name" class="init-hidden text-center text-5xl sm:text-7xl lg:text-9xl font-semibold uppercase tracking-tight">
			Austin Poor
		</h1>
		<h2 class="init-hidden max-w-md lg:max-w-xl mx-auto text-center text-lg lg:text-2xl font-medium pt-4">
			Hi, I'm Austin. I'm a full-stack software engineer living
			in Los Angeles, CA.
		</h2>
		<p class="link-icon-container init-hidden max-w-md lg:max-w-xl mx-auto text-center pt-4 flex justify-center space-x-2">
			<LinkIcon icon="github" classes='w-50 h-50'/>
			<LinkIcon icon="linkedin" classes='w-50 h-50'/>
			<LinkIcon icon="mastodon" classes='w-50 h-50'/>
			<LinkIcon icon="rss" classes='w-50 h-50'/>
		</p>
	</section>

	<section>
	</section>


	<style>
		.init-hidden {
			opacity: 0;
		}
	</style>
	<noscript>
		<style>
			.init-hidden {
				opacity: 100 !important;
			}
		</style>
	</noscript>

	<script>
		//@ts-ignore
		import { animate, stagger } from 'motion';

		setTimeout(() => {
			// Get a reference to the elements...
			const h1 = document.getElementById('big-name') as HTMLHeadingElement;
			const h2 = document.querySelector('.hero h2') as HTMLHeadingElement;
			
			// Get the final text...
			const initialText = h1.innerText.trim();
			const chars = initialText.split('');

			// Set the initial text...
			h1.innerText = '_';

			// Unhide the element...
			h1.classList.remove('init-hidden');

			// Animate the text...
			animate(
				(progress: number) => {
					// Get the number of characters to show...
					const numChars = Math.floor(progress * chars.length);

					// Get the characters to show...
					const text = chars.slice(0, numChars).join('');

					// Set the text...
					h1.innerText = text;

					// If not done, add an underscore...
					if (numChars < chars.length) {
						h1.innerText += '_';
					}
				}, 
				{ duration: 1, easing: 'ease-in' }
			)

			// Unhide and animate the h2...
			h2.classList.remove('init-hidden');
			h2.style.opacity = '0';
			animate(h2, 
				{opacity: [0, 1]},
				{delay: 0.8, duration: 0.5, easing: 'ease-in'},
			);

			document.querySelector(".link-icon-container")?.classList.remove('init-hidden');
			animate(".link-icon-container > a",
				{opacity: [0, 1]},
				{delay: stagger(0.3, {start: 1}), duration: 0.5, easing: 'ease-in'},
			);
		}, 100);
	</script>
</Layout>
