---

---

<button
  id="back-to-top-button"
  aria-label="Back to Top"
  class="hidden
    fixed
    bottom-8
    right-8
    border-2
    border-zinc-50
    bg-zinc-700/50
    text-zinc-50
    p-2
    rounded-full
    active:bg-zinc-800/50
    active:border-zinc-200"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2.5"
    stroke="currentColor"
    class="w-7 h-7"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4.5 15.75l7.5-7.5 7.5 7.5"></path>
  </svg>
</button>

<script>
  //@ts-ignore
  import { animate } from "motion";

  // Get references to the elements...
  const backToTopButton = document.getElementById("back-to-top-button");
  const bodyInner = document.querySelector("body")!;

  // Set up button click handler...
  if (backToTopButton) {
    backToTopButton.onclick = () => {
      // Scroll smoothly to the top...
      bodyInner.scrollTo({ top: 0, behavior: "smooth" });

      // Remove the fragment from the URL...
      history.pushState(
        "",
        document.title,
        window.location.pathname + window.location.search
      );
    };
  }

  // Add a scroll listener...
  bodyInner.addEventListener("scroll", () => {
    // Is it currently hidden?
    const isHidden = backToTopButton?.classList.contains("hidden");

    // If we're scrolling down and it's hidden, show it...
    if (bodyInner.scrollTop > 0 && isHidden) {
      backToTopButton?.classList.remove("hidden");
      animate(
        backToTopButton,
        { opacity: [0, 1], transform: ["scale(0.9) translateY(10px)", "none"] },
        { easing: "ease-out", duration: 0.2 }
      );

      // If we're scrolling up and it's not hidden, hide it...
    } else if (bodyInner.scrollTop <= 0 && !isHidden) {
      animate(
        backToTopButton,
        { opacity: [1, 0], transform: ["none", "scale(0.9) translateY(10px)"] },
        { easing: "ease-in", duration: 0.2 }
      ).finished.then(() => backToTopButton?.classList.add("hidden"));
    }
  });

  // Set the initial state...
  if (bodyInner.scrollTop > 0) {
    backToTopButton?.classList.remove("hidden");
  } else {
    backToTopButton?.classList.add("hidden");
  }
</script>
