---

---

<footer class="left-0 right-0 pb-12">
  <div class="max-w-md mx-auto my-4">
    <div class="text-center mt-6 mb-4">* * *</div>

    <div class="text-center mt-6 mb-4">
      Copyright © {new Date().getFullYear()} Ibrahim Aziz. All rights reserved.
    </div>

    <ul class="list-none flex justify-center space-x-4">
      <li class="underline border-dotted decoration-dotted">
        <a href="https://github.com/a-poor"> GitHub </a>
      </li>
      <li class="underline border-dotted decoration-dotted">
        <a href="https://linkedin.com/in/austinpoor"> LinkedIn </a>
      </li>
      <li class="underline border-dotted decoration-dotted">
        <a href="https://mastodon.social/@austinpoor" rel="me"> Mastodon </a>
      </li>
      <li class="underline border-dotted decoration-dotted">
        <a href="/rss.xml"> RSS Feed </a>
      </li>
    </ul>
  </div>

  <slot />
</footer>
