---
export type Tab = "home" | "blog" | "projects" | "about";

interface Props {
  activeTab?: Tab;
}

const { activeTab }: Props = Astro.props;


interface TabData {
  key: Tab;
  name: string;
  href: string;
}

const tabs: TabData[] = [
  {
    key: "home",
    name: "Home",
    href: "/",
  },
  {
    key: "blog",
    name: "Blog",
    href: "/blog",
  },
  {
    key: "projects",
    name: "Projects",
    href: "/projects",
  },
  {
    key: "about",
    name: "About",
    href: "/about",
  },
];
---

<div class="flex px-4 sm:px-12 mx-auto py-4 align-middle">
  <a href="/" class="pr-3 py-1 flex items-center space-x-1 text-neutral-900 dark:text-neutral-100">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z" />
    </svg>
    <span class="font-sans text-2xl font-semibold">
      Austin Poor
    </span>
  </a>
  
  <div class="flex-grow">
    <nav class="hidden md:flex justify-center ml-auto max-w-fit rounded-full bg-neutral-50 px-3 py-2 space-x-3 font-medium drop-shadow-md">
      {tabs.map(d => (
        <a 
          href={d.href}
          class={
            activeTab === d.key 
              ? "bg-purple-600 text-neutral-50 rounded-full px-2 py-1" 
              : "px-2 py-1"
          }
        >
          { d.name }
        </a>
      ))}
    </nav>
    <button id="dropdown-nav-burger" aria-label="toggle-nav" class="block md:hidden ml-auto p-2 bg-neutral-50 hover:bg-neutral-100 rounded-full drop-shadow-md">
      <svg id="nav-burger-open-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <svg id="nav-burger-close-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hidden">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>      
    </button>
  </div>
</div>

<div id="dropdown-nav" class="hidden md:hidden">
  <ul class="list-none border rounded-lg space-y-4 px-4 py-5 w-36 absolute right-12 bg-neutral-50 shadow-lg transition-shadow delay-900 z-10">
    {tabs.map(d => (
      <li>
        <a 
          href={d.href}
          class={
            activeTab === d.key 
              ? "bg-purple-600 text-neutral-50 rounded-full px-2 py-1" 
              : "px-2 py-1"
          }
        >
          { d.name }
        </a>
      </li>
    ))}
  </ul>
</div>

<script>
  const burgerOpen = document.getElementById("nav-burger-open-icon");
  const burgerClose = document.getElementById("nav-burger-close-icon");
  const burger = document.getElementById("dropdown-nav-burger");
  const dropdown = document.getElementById("dropdown-nav");
  burger?.addEventListener("click", () => {
    dropdown?.classList.toggle("hidden");
    burgerOpen?.classList.toggle("hidden");
    burgerClose?.classList.toggle("hidden");
  });
</script>
