---
import SearchResIcon from "./SearchResIcon.astro";
---
<SearchResIcon/>

<search-modal open="false" class="fixed left-0 top-0 right-0 bottom-0 items-center justify-center backdrop-blur-[4px] text-lg hidden">
    <div class="pb-12 max-w-xl w-full">
        <div role="dialog" class="search-modal-box bg-zinc-100 text-zinc-950 rounded-lg overflow-hidden shadow-xl w-full pb-1">
            <div class="relative w-full px-1 mb-1">
                <input type="text" placeholder="Search..." class="bg-zinc-100 w-full rounded-md block mx-auto my-1 pl-2 py-1 pr-8" />
                <div class="absolute top-0 right-0 bottom-0 pr-2 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                </div>
            </div>
            <div class="w-full mx-auto border-t border-zinc-500/25"/>
            <div class="w-full">
                <ul class="results-container max-h-64 overflow-scroll list-none"></ul>
            </div>
            <div class="w-full mx-auto border-t border-zinc-500/25"/>
            <div class="w-full px-2 pt-1 flex items-center space-x-1">
                <div class="flex-grow"></div>
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M256 0C116.1 0 2 112.7 0 252.1C-2 393.6 112.9 510.8 254.5 511.6c43.7 .3 85.9-10.4 123.3-30.7c3.6-2 4.2-7 1.1-9.7l-24-21.2c-4.9-4.3-11.8-5.5-17.8-3c-26.1 11.1-54.5 16.8-83.7 16.4C139 461.9 46.5 366.8 48.3 252.4C50.1 139.5 142.6 48.2 256 48.2H463.7V417.2L345.9 312.5c-3.8-3.4-9.7-2.7-12.7 1.3c-18.9 25-49.7 40.6-83.9 38.2c-47.5-3.3-85.9-41.5-89.5-88.9c-4.2-56.6 40.6-103.9 96.3-103.9c50.4 0 91.9 38.8 96.2 88c.4 4.4 2.4 8.5 5.7 11.4l30.7 27.2c3.5 3.1 9 1.2 9.9-3.4c2.2-11.8 3-24.2 2.1-36.8c-4.9-72-63.3-130-135.4-134.4c-82.7-5.1-151.8 59.5-154 140.6c-2.1 78.9 62.6 147 141.6 148.7c33 .7 63.6-9.6 88.3-27.6L495 509.4c6.6 5.8 17 1.2 17-7.7V9.7c0-5.4-4.4-9.7-9.7-9.7H256z"/></svg>
                </div>
                <div class="text-sm">
                    Powered by Algolia
                </div>
            </div>
        </div>
    </div>
</search-modal>

<script>
    import '@/lib/SearchModal';
    import '@/lib/SearchResult';
</script>
