---
---

<div id="" class="fixed left-0 top-0 right-0 bottom-0 flex items-center justify-center">
    <div class="bg-zinc-100 text-zinc-950 rounded-lg">
        <h1>My Title</h1>
        <p>Hello, World!</p>
    </div>
</div>

<script>
    import algoliasearch from 'algoliasearch/lite';

    // Define config values...
    const ALGOLIA_APP_ID = "6JMPFP5Q5Q";
    const ALGOLIA_SEARCH_ONLY_API_KEY = "a72c924faecfd2dc137b114e029b7869";
    const BLOG_INDEX_NAME = "prod_blogs";
    
    // Init the client and index...
    const searchClient = algoliasearch(ALGOLIA_APP_ID, ALGOLIA_SEARCH_ONLY_API_KEY);
    const index = searchClient.initIndex(BLOG_INDEX_NAME);


</script>
