---
import Nav, { Tab } from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
import PageMeta from '../components/PageMeta.astro';

interface Props {
    activeTab?: Tab;
    pageTitle?: string;
    pageDescription?: string;
}

const { activeTab, pageTitle, pageDescription }: Props = Astro.props;

---
<!DOCTYPE html>
<html 
    lang="en" 
    class="
        bg-neutral-100 
        dark:bg-neutral-900
    "
>
	<head>
        <PageMeta 
            title={pageTitle}
            description={pageDescription}
        />
        <slot name="head" />

        <script
            is:inline 
            defer 
            id="plausible-script"
            data-domain="austinpoor.com"
            src="/stats/js/script.outbound-links.tagged-events.js"
            data-api="/stats/api/event"
        >
        </script>
        <script is:inline>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
	</head>
	<body>
        <Nav activeTab={activeTab}/>

        <header>
            <slot name="header" />
        </header>

        <main>
            <slot />
        </main>

        <BackToTop />

        <Footer>
            <slot name="footer" />
        </Footer>
	</body>
</html>
