---
import Nav, { Tab } from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
import PageMeta from '../components/PageMeta.astro';

interface Props {
    activeTab?: Tab;
    pageTitle?: string;
    pageDescription?: string;
}

const { activeTab, pageTitle, pageDescription }: Props = Astro.props;

---
<!DOCTYPE html>
<html 
    lang="en" 
    class="
        bg-neutral-100 
        dark:bg-neutral-900
    "
>
	<head>
        <PageMeta 
            title={pageTitle}
            description={pageDescription}
        />
        <slot name="head" />

        <!-- Google tag (gtag.js) -->
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-DT251G2L5B"></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-DT251G2L5B');
        </script>
	</head>
	<body>
        <Nav activeTab={activeTab}/>

        <header>
            <slot name="header" />
        </header>

        <main>
            <slot />
        </main>

        <BackToTop />

        <Footer>
            <slot name="footer" />
        </Footer>

        <script is:inline defer data-domain="austinpoor.com" src="https://plausible.io/js/script.js"></script>
	</body>
</html>
